{% extends "base/layout.html" %}
{% block title %}{{ comic.title }}{% endblock %}
{% block content %}
    <div class="chapters-content card mdui-card mb-3">
        <img class="chapters-img" src="{{ comic.front_cover }}">
        {% with transparent = True %}
            {% include 'base/navbar.html' %}
        {% endwith %}
        <div class="card-body text-white bg-half-transparent">
            <h3 class="card-title">{{ comic.title }}</h3>
            <p class="card-text">{{ comic.description }}</p>
        </div>
    </div>
    <div id="chapters">
        <input type="search" class="search mb-3 form-control form-control-lg"
               placeholder="Search for title or chapter number from {{ chapters|length }} chapters.">
        <div class="row" data-masonry='{ "itemSelector": ".col", "columnWidth":".col" }'>
            {% for chapter in chapters %}
                <div class="col col-xs-6 col-sm-4 col-md-3 col-lg-2 mb-3">
                    <div class="card mdui-card mdui-hoverable">
                        <div class="card-body">
                            <h6 class="card-title title">{{ chapter.title }}</h6>
                            <footer>
                                <p class="card-text">
                                    <small class="text-muted chapter_number">第{{ chapter.chapter_number }}话</small>
                                </p>
                                <a href="{{ url_for('comic.chapter', comic_id=chapter.comic_id, chapter_id=chapter.id) }}"
                                   class="btn btn-sm btn-primary">View</a>
                            </footer>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block footer %}
    {{ super() }}
    <script>
        var options = {
            valueNames: ['title', 'chapter_number'],
            listClass: 'row'
        };
        var list = new List('chapters', options);
        list.on('updated', function () {
            $('.row').masonry();
        })
    </script>
{% endblock %}