{% extends "layout.html" %}
{% block title %}{{ comic.title }}{% endblock %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="mt-3">
        <div class="card mdui-card" style="margin-bottom:1rem;">
            <div style="height: 7rem; background:url('{{ comic.front_cover }}') no-repeat center center; background-size: cover;">
            </div>
            <div class="card-body">
                <h3 class="card-title">{{ comic.title }}</h3>
                <p class="card-text">{{ comic.description }}</p>
            </div>
        </div>
        <div id="chapters">
            <input type="search" class="search mb-3 form-control form-control-lg"
                   placeholder="Search for title or chapter number from {{ chapters|length }} chapters.">
            <div class="row" data-masonry='{ "itemSelector": ".col", "columnWidth":".col" }'>
                {% for chapter in chapters %}
                    <div class="col col-xs-6 col-sm-4 col-md-3 col-lg-2 mb-3">
                        <div class="card mdui-card mdui-hoverable">
                            <div class="card-body">
                                <h6 class="card-title title">{{ chapter.title }}</h6>
                                <footer>
                                    <p class="card-text">
                                        <small class="text-muted chapter_number">第{{ chapter.chapter_number }}话</small>
                                    </p>
                                    <a href="{{ url_for('comic.chapter', comic_id=chapter.comic_id, chapter_id=chapter.id) }}"
                                       class="btn btn-sm btn-primary">View</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {{ super() }}
    <script>
        var options = {
            valueNames: ['title', 'chapter_number'],
            listClass: 'row'
        };
        var list = new List('chapters', options);
        list.on('updated', function () {
            $('.row').masonry();
        })
    </script>
{% endblock %}