{% extends "layout.html" %}
{% block title %}所有{% endblock %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="mt-3">
        <div id="comics">
            <input type="search" class="search mb-3 form-control form-control-lg"
                   placeholder="Search from {{ comics|length }} comics.">
            <div class="row" data-masonry='{ "itemSelector": ".col", "columnWidth":".col" }'>
                {% for comic in comics %}
                    <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-3">
                        <div class="card mdui-card mdui-hoverable">
                            <img class="card-img-top" src="{{ comic.front_cover }}">
                            <div class="card-body">
                                <h4 class="title card-title">{{ comic.title }}</h4>
                                <p class="description card-text">{{ comic.description }}
                                    {% if comic.author %}
                                        <small class="text-muted"><em> -- {{ comic.author }}</em></small>
                                    {% endif %}
                                </p>
                                <footer>
                                    <p class="card-text">
                                        <small class="refresh_time text-muted">{{ comic.refresh_time }}</small>
                                    </p>
                                    <a href="{{ url_for('comic.chapters', comic_id=comic.id) }}"
                                       class="btn btn-primary btn-sm">View</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %} {% block footer %} {{ super() }}
    <script>
        var options = {
            valueNames: ['title', 'description'],
            listClass: 'row'
        };
        var list = new List('comics', options);
        list.on('updated', function () {
            $('.row').masonry();
        });

        $('.row').imagesLoaded().progress(function () {
            $('.row').masonry();
        });
    </script>
{% endblock %}