{% extends "layout.html" %} {% block content %} {% block head %}
<meta name="referrer" content="never"> {{ super() }} {% endblock %}
<div class="mt-3">
    <ol class="breadcrumb" id="top">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('comic.chapters', comic_id=comic.id) }}">{{ comic.title }}</a>
        </li>
        <li class="breadcrumb-item active">{{ comic.title }}第{{ chapter.chapter_number }}话--<strong>{{ chapter.title }}</strong></li>
    </ol>
    <div class="card mdui-card mdui-hoverable" id="images">
        {% for image in images %}
            <img src="{{ image }}" class="img-fluid mb-1" style="width:100%;display:block;margin-left:auto;margin-right:auto;">
        {% endfor %}
    </div>
    <a href="#top" class="mdui-fab mdui-fab-fixed mdui-ripple" style="bottom:104px"><i class="mdui-icon material-icons">&#xe5d8;</i></a>
    <button class="mdui-fab mdui-fab-fixed mdui-ripple mdui-color-teal" onclick="view()"><i class="mdui-icon material-icons">&#xe417;</i></button>
</div>
{% endblock %}
{% block footer %} 
{{ super() }}
<script>
    var viewer = new Viewer(document.getElementById('images'), {});
    function view(){
        viewer.show()
    }
</script>
{% endblock %}