{% extends "base/layout.html" %}
{% block title %}最新{% endblock %}
{% block content %}
    {% include 'base/navbar.html' %}
    <div class="mt-3">
        <div id="chapters">
            <div class="row" data-masonry='{ "itemSelector": ".col", "columnWidth":".col" }'>
                {% for chapter in chapters %}
                    {% set comic = chapter.comic() %}
                    <div class="col col-sm-6 col-md-4 mb-3">
                        <div class="card mdui-card mdui-card-hoverable text-white"
                             style="background: url('{{ chapter.front_cover }}') no-repeat center;background-size: cover">
                            <div class="card-body" style="background-color: rgba(33,33,33,0.6)">
                                <h3 class="card-title comic-title">{{ comic.title }}{{ chapter.chapter_number }}话</h3>
                                <h5 class="card-title chapter-title">{{ chapter.title }}</h5>
                                <p class="card-text comic-description">{{ comic.description }}</p>
                                <p class="card-text">
                                    <small>{{ chapter.refresh_time }}</small>
                                </p>
                                <a href="{{ url_for('comic.chapter', comic_id=chapter.comic_id, chapter_id=chapter.id) }}"
                                   class="btn btn-primary">View</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}